h1{
    color: rgb(30, 81, 94); 
    font-size: 30px;
}
p{
    color:rgb(255, 115, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    border: 2px solid rgb(142, 236, 18);
}